@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

* {margin: 0; padding: 0; text-align: center; font-size: 20px;}

body{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}


/* 탭 메뉴 */
.container{
	margin: 0 auto;
}

ul.tabs{
	z-index: 998;
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}
ul.tabs li{
	z-index: 998;
	background: none;
	color: #BAAFCC;
	display: inline-block;
	width: 50%;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	background: #EFE7FF;
	border-bottom: 2px #7743DB solid;
}

ul.tabs li.current{
	z-index: 998;
	background: #fff;
	color: #222;
	border-bottom: none;
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}


/* 업로드 */
.upload {
	width: 600px;
	height: 320px;
	background: #EFE7FF;
	border-radius: 20px;
	border: #222 2px dashed;

	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);

	cursor: pointer;
}

.upload-img {
	position: absolute;
	top: 41%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-container {
	position: relative;
	width: 600px;
	height: 320px;
	border-radius: 18px;
	overflow: hidden;
}

.img-container img {
	position: absolute;
	min-width: 600px;
	min-height: 320px;
	max-width: 1000px;
	max-height: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-container::-webkit-scrollbar {
    width: 9px;
	height: 9px;
  }
.img-container::-webkit-scrollbar-thumb {
    background-color: #EFE7FF;
    border-radius: 10px;
  }
.img-container::-webkit-scrollbar-track {
    background-color: #BAAFCC;
    border-radius: 10px;
  }

.upload p {
	position: absolute;
	top: 63%;
	left: 50%;
	transform: translate(-50%, -50%);

	white-space: nowrap;
}


/* 사용법 */
.tips img{
	position: absolute;
	right: 28px;
	bottom: 18px;
	cursor: pointer;
}

.tip {
	position: absolute;
	right: 60px;
	bottom: 18px;
	width: 230px;
	height: 54px;
	padding: 5px 5px 7px 7px;

	background: rgba(64, 64, 64, 0.5);
	font-size: 14px;
	color: #fff;
	text-align: left;
}



/* 웹캠 */
#cameraview {
	width: 600px;
	height: 320px;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
    border: #222 2px dashed;
	object-fit: cover;
}